{% extends "base.html" %}
{% block content %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Wrocloud</h1>
        <p>
          Wrocloud is a helpful and secure file-storage service based
          on the HP Cloud infrastructure.
        </p>
        <p><a href="/about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Uploading Files</h2>
          <p>
            Click here to learn how to upload files!
          </p>
          <p><a class="btn" href="/how_to/">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <img src="{{ STATIC_URL }}img/generic_cloud.jpg" />
       </div>
        <div class="span4">
          <h2>Mission statement</h2>
          <p>
            Wrocloud is committed to ensuring your data never goes
            amiss. Our HPCloud backed infrastructure means that you
            never have to worry about losing important documents ever
            again.
          </p>
          <p><a class="btn" href="/about/">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Aaron France 2013</p>
      </footer>

    </div> <!-- /container -->
{% endblock content %}
