{% extends "base.html" %}

{% block content %}
{% load hpcloud %}
<div class="container">
  <div class="hero-unit">
    <h3>Wrocloud File Upload</h3>
    <form action="https://region-b.geo-1.objects.hpcloudsvc.com/v1/{{ tenant_id }}/{{ user_id }}/" method="POST"
          enctype="multipart/form-data">
      <input type="hidden" name="redirect" value="{{ redirect_url }}" />
      <input type="hidden" name="max_file_size" value="1073741824" />
      <input type="hidden" name="max_file_count" value="10" />
      <input type="hidden" name="expires" value="2147483647" />
      <input type="hidden" name="signature" value="{{ signature }}" />
      <input type="file" name="file1" />
      <input type="submit" />
    </form>
  </div>
  <div class="hero-unit">
    <h3>Your files</h3>
    <ul>
      {% for object in stuff %}
      {% if object.content_type == "application/directory" %}
        <li><a href="{% url 'wrocloud.views.userpage' directory=object.name %}"> {{ object.name }}</a></li>
      {% else %}
        <li><a href="{{ object.url }}">{{ object.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
