{% extends "base.html" %}

{% block content %}
{% load hpcloud %}
<div class="container">
  <div class="hero-unit">
    <h3>Wrocloud File Upload</h3>
    <form action="https://region-b.geo-1.objects.hpcloudsvc.com/v1/{{ tenant_id }}/{{ user_id }}/" method="POST"
          enctype="multipart/form-data">
      <input type="hidden" name="redirect" value="{{ redirect_url }}" />
      <input type="hidden" name="max_file_size" value="1073741824" />
      <input type="hidden" name="max_file_count" value="10" />
      <input type="hidden" name="expires" value="2147483647" />
      <input type="hidden" name="signature" value="{{ signature }}" />
      <input type="file" name="file1" />
      <input type="submit" />
    </form>
  </div>
  <div class="hero-unit">
    <div class="container">
      <div class="span4">
        <h3>Your files</h3>
        <ul>
          {% for object in stuff %}
          {% if object.content_type == "application/directory" %}
          <li>
            <a class="btn btn-small"
               href="{% url 'wrocloud.views.userpage' directory=object.name %}">
              <i class="icon-folder-open"></i>
              {{ object.name }}
            </a>
          </li>
          {% else %}
          <li>
            <a class="btn btn-small"
               href="{{ object.url }}">
              <i class="icon-file"></i>
              {{ object.name }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div id="metadata-span" class="span3">
        <h3>File Data</h3>
      </div>
      <div id="controls-span" class="span3">
        <h3>Controls</h3>
        <input class="btn" onclick="newdirectory()" value="New Dir"/>
      </div>
    </div>
  </div>
{% block javascript %}
<script src="{{ STATIC_URL }}js/userpage.js"></script>
{% endblock javascript %}
{% endblock content %}
